* {
    margin: 0;
    padding: 0;
}

/* common styles */
#primary-btn {
    background-color: #E55473;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
    cursor: pointer;
}

#primary-btn:hover {
    background-color: #d72b50;
    transition: ease-in all 0.5s;
}

/* common styles */

/* banner section start */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 850px;
    background: #E554731A;
}

.banner-details {
    padding: 80px 96px;
}

#banner-title {
    font-size: 80px;
    font-weight: 800;
    font-family: Lato;
}

.banner-details p {
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    margin-top: 32px;
}

.banner #banner-image {
    width: 635px;
    height: 700px;
}

/* banner section end */